{% extends "auctions/layout.html" %}

{% block body %}

<div class="content">
    <h2>Watchlist</h2>
    {% for listing in listings %}
        <div class="listing">
            <p>{{ listing.title }}</p>
            <p><i>$ {{ listing.starting_price }}</i></p>
            <img class="listing-image" src="{{ listing.image }}" alt="Photo is missing">
            <p>{{ listing.description }}</p>
            <a class="details" href="{% url 'listing' listing.id %}">View Details</a>
        </div>
    {% endfor %}
    
</div>

{% endblock %}